<form class="row" action="" method="post">
  <? if(!empty($_SESSION['articles_add']['error'])): ?>
  <div class="form-group">
    <div class="alert alert-warning alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
      <?=$_SESSION['articles_add']['error'];?>
      <? $_SESSION['articles_add']['error'] = '';?>
    </div>
  </div>
  <? endif; ?>

  <div class="col-md-4">
    <div class="card col-12">
      <div class="card-body">
        <div class="form-group">

          <img src="/public/images/articles/1.png" class="img-fluid" alt="">

          <!-- poster -->
          <div class="poster window">

            <div class="image">

              <div class="preview"></div>

              <div class="overlay">
                <div id="delete" class="" style="color: white">close</div>
              </div>

              <input type="hidden" name="poster" value="">
            </div>

            <div class="no-image">

              <div id="no-image"></div>

              <div class="link">
                <i class="icon-plus-circled"></i>
              </div>

            </div>

          </div>
          <!-- poster end -->

          <a class="btn btn-primary btn-sm" href="/admin/articles/<?=$article['id']?>">
            <i class="fas fa-folder">
            </i>
            Upload
          </a>
          <a class="btn btn-info btn-sm" href="/admin/articles/<?=$article['id']?>/edit">
            <i class="fas fa-pencil-alt">
            </i>
            Edit
          </a>

        </div>
      </div>
    </div>
    <div class="card col-6 float-left">
      <div class="card-body">
        <div class="form-group">
          <img src="/public/images/articles/1.png" class="img-fluid" alt="">
          <a class="btn btn-primary btn-sm" href="/admin/articles/<?=$article['id']?>">
            <i class="fas fa-folder">
            </i>
          </a>
          <a class="btn btn-info btn-sm" href="/admin/articles/<?=$article['id']?>/edit">
            <i class="fas fa-pencil-alt">
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="card col-6 float-right">
      <div class="card-body">
        <div class="form-group">
          <img src="/public/images/articles/1.png" class="img-fluid" alt="">
          <a class="btn btn-primary btn-sm" href="/admin/articles/<?=$article['id']?>">
            <i class="fas fa-folder">
            </i>
          </a>
          <a class="btn btn-info btn-sm" href="/admin/articles/<?=$article['id']?>/edit">
            <i class="fas fa-pencil-alt">
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="inputName">Назва Матеріалу</label>
          <input
            name="name"
            type="text"
            id="inputName"
            class="form-control"
            placeholder="Назва"
            required>
        </div>
        <div class="form-group">
          <label for="inputName2">Альтернативна Назва</label>
          <input
            name="alt_name"
            type="text"
            id="inputName2"
            class="form-control"
            placeholder="Назва 2">
        </div>
        <div class="form-group">
          <label for="inputUrl">Url Адрес</label>
          <input
            name="url"
            type="text"
            id="inputUrl"
            class="form-control"
            placeholder="url">
        </div>
        <div class="form-group">
          <label for="selectCategory">Категорія</label>

          <select
            name="category"
            id="selectCategory"
            class="form-control custom-select"
            style="width: 100%;">
            <option disabled selected>Вибрати</option>
            <? foreach($category as $cat) : ?>
            <option value="<?=$cat['id'];?>"><?=$cat['name'];?></option>
            <? endforeach; ?>
          </select>
        </div>
        <div class="form-group">
          <label for="inputDesc">Інформація про матеріал</label>
          <textarea name="description"
                    id="inputDesc"
                    class="form-control"
                    rows="4"
                    placeholder="Інформація"></textarea>
        </div>

        <div class="form-group border-top pt-3">
          <a href="/admin/articles" class="btn btn-secondary">Назад</a>
          <input name="articles_add" type="submit" value="Добавити" class="btn btn-success float-right">
        </div>
      </div>
    </div>
  </div>
</form>