<div class="row">

  <div class="col-md-4">
    <div class="card col-12">
      <div class="card-body">
        <div class="form-group">
          <img src="/public/images/articles/1.png" class="img-fluid" alt="">
          <a class="btn btn-primary btn-sm" href="/admin/articles/<?=$article['id']?>">
            <i class="fas fa-folder">
            </i>
            Upload
          </a>
          <a class="btn btn-info btn-sm" href="/admin/articles/<?=$article['id']?>/edit">
            <i class="fas fa-pencil-alt">
            </i>
            Edit
          </a>
        </div>
      </div>
    </div>
    <div class="card col-6 float-left">
      <div class="card-body">
        <div class="form-group">
          <img src="/public/images/articles/1.png" class="img-fluid" alt="">
          <a class="btn btn-primary btn-sm" href="/admin/articles/<?=$article['id']?>">
            <i class="fas fa-folder">
            </i>
          </a>
          <a class="btn btn-info btn-sm" href="/admin/articles/<?=$article['id']?>/edit">
            <i class="fas fa-pencil-alt">
            </i>
          </a>
        </div>
      </div>
    </div>
    <div class="card col-6 float-right">
      <div class="card-body">
        <div class="form-group">
          <img src="/public/images/articles/1.png" class="img-fluid" alt="">
          <a class="btn btn-primary btn-sm" href="/admin/articles/<?=$article['id']?>">
            <i class="fas fa-folder">
            </i>
          </a>
          <a class="btn btn-info btn-sm" href="/admin/articles/<?=$article['id']?>/edit">
            <i class="fas fa-pencil-alt">
            </i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="inputName">Назва Матеріалу</label>
          <input type="text" id="inputName" class="form-control"
                 placeholder="Назва" value="<?=$article['name'];?>">
        </div>
        <div class="form-group">
          <label for="inputName2">Альтернативна Назва</label>
          <input type="text" id="inputName2" class="form-control"
                 placeholder="Назва 2" value="<?=$article['alt_name'];?>">
        </div>
        <div class="form-group">
          <label for="inputUrl">Url Адрес</label>
          <input type="text" id="inputUrl" class="form-control"
                 placeholder="url" value="<?=$article['url'];?>" disabled>
        </div>
        <div class="form-group">
          <label for="selectCategory">Категорія</label>

          <select id="selectCategory" class="form-control custom-select" style="width: 100%;">
            <? foreach($category as $cat) : ?>

            <? //pr3( $cat['id'] == $article['category'] ); ?>

            <? if($cat['id'] === $article['category']) : ?>
            <option value="<?=$cat['id'];?>" selected><?=$cat['name'];?></option>
            <? else : ?>
            <option value="<?=$cat['id'];?>"><?=$cat['name'];?></option>
            <? endif; ?>
            <? endforeach; ?>
          </select>
        </div>
        <div class="form-group">
          <label for="inputDesc">Інформація про матеріал</label>
          <textarea id="inputDesc" class="form-control" rows="4"
                    placeholder="Інформація"><?=$article['description'];?></textarea>
        </div>

        <div class="form-group border-top pt-3">
          <a href="#" class="btn btn-secondary">Cancel</a>
          <input type="submit" value="Save Changes" class="btn btn-success float-right">
        </div>
      </div>
    </div>
  </div>
</div>