<form class="row" action="" method="post">
  <? if(!empty($_SESSION['articles_add']['error'])): ?>
  <div class="form-group">
    <div class="alert alert-warning alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
      <?=$_SESSION['articles_add']['error'];?>
      <? $_SESSION['articles_add']['error'] = '';?>
    </div>
  </div>
  <? endif; ?>

  <div class="col-md-4">
    <!-- poster -->
    <div class="card col-12">
      <div class="card-body">
        <div class="form-group">
          <!-- poster -->
          <div class="poster window w-100 h-100">

            <div class="image" style="display: none">
              <div class="text-center">
                <img class="preview img-fluid" src="">
              </div>

              <div class="overlay text-center">
                <div class="delete btn btn-danger" style="color: white; cursor: pointer">
                  <i class="far fa-trash-alt"></i> Видалити
                </div>
                <div class="update btn btn-success ml-1" style="color: white; cursor: pointer">
                  <i class="fas fa-wrench"></i> Замінити
                </div>
              </div>

              <input type="hidden" name="poster" value="">
              <input type="hidden" name="poster-data-type" value="">
            </div>

            <div class="no-image" style="display: block">

              <div class="text-center">
                <img src="<?=CONTENT_ADMIN;?>images/no-photo_1.png" class="img-fluid">
              </div>

              <div class="link text-center btn btn-success">
                <i class="fas fa-plus-circle"></i> Добавити
              </div>

            </div>

          </div>
          <!-- poster end -->
        </div>
      </div>
    </div>
    <!--./ poster -->

    <!-- drawing -->
    <div class="card col-12">
      <div class="card-body">
        <div class="form-group">
          <!-- drawing -->
          <div class="drawing window w-100 h-100">

            <div class="image" style="display: none">
              <div class="text-center">
                <img class="preview img-fluid" src="">
              </div>

              <div class="overlay text-center">
                <div class="delete btn btn-danger" style="color: white; cursor: pointer">
                  <i class="far fa-trash-alt"></i> Видалити
                </div>
                <div class="update btn btn-success ml-1" style="color: white; cursor: pointer">
                  <i class="fas fa-wrench"></i> Замінити
                </div>
              </div>

              <input type="hidden" name="poster" value="">
            </div>

            <div class="no-image" style="display: block">

              <div class="text-center">
                <img src="<?=CONTENT_ADMIN;?>images/no-drawing.jpg" class="img-fluid">
              </div>

              <div class="link text-center btn btn-success">
                <i class="fas fa-plus-circle"></i> Добавити
              </div>

            </div>

          </div>
          <!-- drawing end -->
        </div>
      </div>
    </div>
    <!--./ drawing -->

    <!-- screens -->

    <div id="screens">
      <!-- add-screen -->
      <div class="card col-12">
        <div class="card-body">
          <div class="add-screen btn btn-success w-100" style="cursor:pointer">Добавити зображення</div>
        </div>
      </div>
      <!--./ add-screen -->
      <!-- screens -->
      <div class="screens"></div>
      <!--./ screens -->

    </div>

    <!--    <div style="display: none" class="card col-6 float-left">-->
    <!--      <div class="card-body">-->
    <!--        <div class="form-group">-->
    <!--          <img src="/public/images/articles/1.png" class="img-fluid" alt="">-->
    <!--          <a class="btn btn-primary btn-sm" href="/admin/articles/id">-->
    <!--            <i class="fas fa-folder">-->
    <!--            </i>-->
    <!--          </a>-->
    <!--          <a class="btn btn-info btn-sm" href="/admin/articles/id/edit">-->
    <!--            <i class="fas fa-pencil-alt">-->
    <!--            </i>-->
    <!--          </a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--./ screens -->
  </div>

  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label for="inputName">Назва Матеріалу</label>
          <input
            name="name"
            type="text"
            id="inputName"
            class="form-control"
            placeholder="Назва"
            required>
        </div>
        <div class="form-group">
          <label for="inputName2">Альтернативна Назва</label>
          <input
            name="alt_name"
            type="text"
            id="inputName2"
            class="form-control"
            placeholder="Назва 2">
        </div>
        <div class="form-group">
          <label for="inputUrl">Url Адрес</label>
          <input
            name="url"
            type="text"
            id="inputUrl"
            class="form-control"
            placeholder="url">
        </div>
        <div class="form-group">
          <label for="selectCategory">Категорія</label>

          <select
            name="category"
            id="selectCategory"
            class="form-control custom-select"
            style="width: 100%;">
            <option disabled selected>Вибрати</option>
            <? foreach($category as $cat) : ?>
            <option value="<?=$cat['id'];?>"><?=$cat['name'];?></option>
            <? endforeach; ?>
          </select>
        </div>
        <div class="form-group">
          <label for="inputDesc">Інформація про матеріал</label>
          <textarea name="description"
                    id="inputDesc"
                    class="form-control"
                    rows="4"
                    placeholder="Інформація"></textarea>
        </div>

        <div class="form-group border-top pt-3">
          <a href="/admin/articles" class="btn btn-secondary">Назад</a>
          <input name="articles_add" type="submit" value="Добавити" class="btn btn-success float-right">
        </div>
      </div>
    </div>
  </div>
</form>