<? //pr1($articles);?>

<? if(!empty($_SESSION['articles_add']['success'])): ?>
<div class="form-group">
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
        <?=$_SESSION['articles_add']['success'];?>
    </div>
</div>
<? $_SESSION['articles_add']['success'] = ''; endif; ?>
<!-- Main content -->

<div class="card">
    <div class="card-header">

        <? foreach($category as $cat) :?>
        <? if( $cat['id'] == $route['cat'] ) :?>
        <a class="btn btn-success btn-sm float-left mr-3 disabled" href="/admin/articles/<?=$cat['id']?>">
            <?=$cat['name']?>
        </a>
        <? else:?>
        <a class="btn btn-success btn-sm float-left mr-3" href="/admin/articles/<?=$cat['id']?>">
            <?=$cat['name']?>
        </a>
        <? endif;?>
        <? endforeach;?>

        <a class="btn btn-primary btn-sm float-right" href="/admin/articles/add">
            <i class="fas fa-folder"></i> Добавити
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body p-0" style="display: block;">
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th>
                </th>
                <th style="width: 20%">
                    Назва (name)
                </th>
<!--                <th style="width: 30%">-->
<!--                    Лінк (url)-->
<!--                </th>-->
                <th style="width: 20%">
                    Категорія (url)
                </th>
                <th>
                    На сайті
                </th>

                <th style="width: 25%">
                </th>
            </tr>
            </thead>
            <tbody>

            <? foreach($articles as $article): ?>
            <tr>
                <td><img class="img-fluid" src="<?=URL_ART;?>/<?=$article['poster'];?>"></td>
                <td><?=$article['name'];?>
                </td>
<!--                <td><?=$article['url']?></td>-->
                <td><?=$category[$article['category']]['name'];?></td>

                <td>
                    <? if ($article['active'] == 1): ?>
                    <span class="badge badge-success">Активний</span>
                    <? else: ?>
                    <span class="badge badge-danger">Не активний</span>
                    <? endif; ?>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm disabled" href="/admin/articles/<?=$article['id']?>">
                        <i class="fas fa-folder">
                        </i>
                        View
                    </a>
                    <a class="btn btn-info btn-sm" href="/admin/articles/<?=$article['id']?>/edit">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Edit
                    </a>
                    <a class="btn btn-danger btn-sm disabled" href="/admin/articles/<?=$article['id']?>/delete">
                        <i class="fas fa-trash">
                        </i>
                        Delete
                    </a>
                </td>
            </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<!-- /.content -->
