<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form action="" method="post">
          <input type="hidden" name="id" value="<?=$category['id'];?>">
          <div class="form-group">
            <label for="inputName">Назва Категорії</label>
            <input type="text"
                   name="name"
                   id="inputName" class="form-control"
                   placeholder="Назва" value="<?=$category['name'];?>">
          </div>
          <div class="form-group">
            <label for="inputUrl">Url Адрес</label>
            <input type="text"
                   name="url"
                   id="inputUrl" class="form-control"
                   placeholder="url" value="<?=$category['url'];?>">
          </div>
          <div class="form-group">
            <label for="inputDesc">Інформація про Категорію</label>
            <textarea id="inputDesc"
                      name="description"
                      class="form-control" rows="4"
                      placeholder="Інформація"><?=$category['description'];?></textarea>
          </div>

          <div class="form-group border-top pt-3">
            <a href="/admin/category" class="btn btn-secondary">Назад</a>
            <input type="submit" name="category_edit" value="Зберегти" class="btn btn-success float-right">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>