<!-- Main content -->
<div class="card">
  <div class="card-header">
    <a class="btn btn-primary btn-sm" href="/admin/category/add">
      <i class="fas fa-folder"></i> Добавити
    </a>
  </div>
  <div class="card-body p-0" style="display: block;">
    <table class="table table-striped projects">
      <thead>
      <tr>
        <th style="width: 1%">
          #ID
        </th>
        <th style="width: 20%">
          Назва (name)
        </th>
        <th style="width: 30%">
          Лінк (url)
        </th>
        <th>
          description
        </th>
        <th style="width: 22%">
        </th>
      </tr>
      </thead>
      <tbody>

      <? foreach($category as $cats): ?>
      <tr>
        <td><?=$cats['id']?></td>
        <td><?=$cats['name']?>
        </td>
        <td><?=$cats['url']?></td>
        <td><?=$cats['description']?></td>
        <td>
          <a class="btn btn-primary btn-sm" href="#">
            <i class="fas fa-folder">
            </i>
            View
          </a>
          <a class="btn btn-info btn-sm" href="#">
            <i class="fas fa-pencil-alt">
            </i>
            Edit
          </a>
          <a class="btn btn-danger btn-sm" href="#">
            <i class="fas fa-trash">
            </i>
            Delete
          </a>
        </td>
      </tr>
      <? endforeach; ?>
      </tbody>
    </table>
  </div>
</div>

<!-- /.content -->
