<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form action="" method="post">
          <div class="form-group">
            <label for="inputName">Назва Сторінки</label>
            <input type="text"
                   name="name"
                   id="inputName" class="form-control"
                   placeholder="Назва">
          </div>
          <div class="form-group">
            <label for="inputUrl">Url Адрес</label>
            <input type="text"
                   name="url"
                   id="inputUrl" class="form-control"
                   placeholder="url">
          </div>
          <div class="form-group">
            <label for="inputDesc">Інформація про Сторінку</label>
            <div class="mb-3">
                <textarea
                  id="inputDesc"
                  name="description"
                  class="textarea" placeholder="Інформація"
                  style="width: 100%;
                           height: 200px;
                           font-size: 14px;
                            line-height: 18px;
                            border: 1px solid #dddddd;
                             padding: 10px;"></textarea>
            </div>
          </div>

          <div class="form-group border-top pt-3">
            <a href="/admin/page" class="btn btn-secondary">Назад</a>
            <input type="submit" name="page_add" value="Зберегти" class="btn btn-success float-right">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>