<div class="row">

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="col-6 float-left"><?=$article_name;?></h3>

        <a class="btn btn-primary btn-sm float-right" href="/admin/price/<?=$route['id'];?>/add">
          <i class="fas fa-folder"></i> Добавити Прайс лист
        </a>
      </div>

      <form class="card-body" action="" method="post">

        <? if(!empty($_SESSION['cat_add']['error'])): ?>
        <div class="form-group">
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
            <?=$_SESSION['cat_add']['error'];?>
            <? $_SESSION['cat_add']['error'] = '';?>
          </div>
        </div>
        <? endif; ?>
        <table class="table table-striped projects">
          <thead>
          <? if($category_id == 1) : ?>
          <tr>
            <th style="width: 15%">
              Категорія
            </th>
            <th style="width: 12%">
              Матеріал
            </th>
            <th style="width: 15%">
              Шапка
            </th>
            <th style="width: 20%">
              Назва
            </th>
            <th style="width: 9%">
              Од. вимір.
            </th>
            <th style="width: 9%">
              ціна
            </th>
            <th style="width: 5%">
            </th>
          </tr>
          <? elseif($category_id == 2) : ?>
          <tr>
            <th style="width: 15%">
              Категорія
            </th>
            <th style="width: 15%">
              Матеріал
            </th>
            <th style="width: 15%">
              Шапка
            </th>
            <th style="width: 20%">
              Назва металопрокату
            </th>
            <th style="width: 10%">
              Ціна за 1т. з ПДВ
            </th>
            <th style="width: 8%">
              Вага 1м.п.
            </th>
            <th style="width: 9%">
              Ціна за 1м.п.
            </th>
            <th style="width: 5%">
            </th>
          </tr>
          <? endif; ?>
          </thead>

          <tbody id="prices">

          <? foreach($price as $pric): ?>
          <? if($category_id == 1) : ?>
          <tr>

            <input type="hidden" name="<?=$pric['id']?>[id]" value="<?=$pric['id']?>">
            <input type="hidden" name="<?=$pric['id']?>[type]" value="">

            <td>
              <select
                name="<?=$pric['id']?>[category]"
                id="selectCategory" class="form-control custom-select" style="width: 100%;">
                <? foreach($category as $cat) : ?>

                <? if($cat['id'] === $pric['category']) : ?>
                <option value="<?=$cat['id'];?>" selected><?=$cat['name'];?></option>
                <? else : ?>
                <option value="<?=$cat['id'];?>"><?=$cat['name'];?></option>
                <? endif; ?>

                <? endforeach; ?>
              </select>
            </td>
            <td>
              <select name="<?=$pric['id']?>[article]" id="selectArticle"
                      class="form-control custom-select" style="width: 100%;">
                <? foreach($article as $art) : ?>
                <? if($art['id'] === $pric['article']) : ?>
                <option value="<?=$art['id'];?>" selected><?=$art['name'];?></option>
                <? else : ?>
                <option value="<?=$art['id'];?>"><?=$art['name'];?></option>
                <? endif; ?>
                <? endforeach; ?>
              </select>
            </td>
            <td>
              <input type="text" name="<?=$pric['id']?>[header]"
                     value="<?=$pric['header']?>"
                     class="form-control">
            </td>
            <td>
              <input type="text" name="<?=$pric['id']?>[name]"
                     value="<?=$pric['name']?>"
                     class="form-control">
            </td>


            <td>
              <input type="text" name="<?=$pric['id']?>[price_1]"
                     value="<?=$pric['price_1']?>"
                     class="form-control">
            </td>
            <td>
              <input type="text" name="<?=$pric['id']?>[price_2]"
                     value="<?=$pric['price_2']?>"
                     class="form-control">
            </td>

            <td>
              <div data-href="/admin/price/<?=$pric['id']?>/delete"
                   data-id="<?=$pric['id']?>"
                   data-article="<?=$article_id?>"
                   class="price_id_delete btn btn-danger" style="cursor: pointer">
                <i class="fas fa-trash-alt"></i>
              </div>
            </td>

          </tr>
          <? elseif($category_id == 2) : ?>
          <tr>

            <input type="hidden" name="<?=$pric['id']?>[id]" value="<?=$pric['id']?>">

            <td>
              <select
                name="<?=$pric['id']?>[category]"
                id="selectCategory" class="form-control custom-select" style="width: 100%;">
                <? foreach($category as $cat) : ?>

                <? if($cat['id'] === $pric['category']) : ?>
                <option value="<?=$cat['id'];?>" selected><?=$cat['name'];?></option>
                <? else : ?>
                <option value="<?=$cat['id'];?>"><?=$cat['name'];?></option>
                <? endif; ?>

                <? endforeach; ?>
              </select>
            </td>
            <td>
              <select name="<?=$pric['id']?>[article]" id="selectArticle"
                      class="form-control custom-select" style="width: 100%;">
                <? foreach($article as $art) : ?>
                <? if($art['id'] === $pric['article']) : ?>
                <option value="<?=$art['id'];?>" selected><?=$art['name'];?></option>
                <? else : ?>
                <option value="<?=$art['id'];?>"><?=$art['name'];?></option>
                <? endif; ?>
                <? endforeach; ?>
              </select>
            </td>
            <td>
              <input type="text" name="<?=$pric['id']?>[header]"
                     value="<?=$pric['header']?>"
                     class="form-control">
            </td>
            <td>
              <input type="text" name="<?=$pric['id']?>[name]"
                     value="<?=$pric['name']?>"
                     class="form-control">
            </td>
            <td>
              <input type="text" name="<?=$pric['id']?>[type]"
                     value="<?=$pric['type']?>"
                     class="form-control">
            </td>
            <td>
              <input type="text" name="<?=$pric['id']?>[price_1]"
                     value="<?=$pric['price_1']?>"
                     class="form-control">
            </td>
            <td>
              <input type="text" name="<?=$pric['id']?>[price_2]"
                     value="<?=$pric['price_2']?>"
                     class="form-control">
            </td>

            <td>
              <div class="btn btn-danger disabled" style="cursor: pointer">
                <i class="fas fa-trash-alt"></i>
              </div>
            </td>

          </tr>
          <? endif; ?>
          <? endforeach; ?>
          </tbody>

        </table>

        <div class="form-group border-top pt-3">
          <a href="/admin/price/<?=$category_id;?>" class="btn btn-secondary">Назад</a>


          <input type="submit" name="edit-price" value="Оновити" class="btn btn-success float-right">

<!--          <div id="add-column" class="btn btn-primary float-right mr-2" style="cursor: pointer">-->
<!--            Добавити Стовбець-->
<!--          </div>-->

        </div>

      </form>
    </div>
  </div>
</div>