<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Quick Example</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form role="form" method="post">
    <div class="card-body">
      <div class="form-group">
        <label for="input_name">Назва</label>
        <input required type="text" name="name" class="form-control" id="input_name" placeholder="Введи Назву">
      </div>
      <div class="form-group">
        <label for="input_position">Позиція в сайт барі</label>
        <input type="text" name="position_sidebar" class="form-control" id="input_position" placeholder="Position">
      </div>
      <div class="form-group">
        <label for="input_url">Посилання</label>
        <input required type="text" name="url" class="form-control" id="input_url" placeholder="url">
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" name="add_widget" class="btn btn-primary">Зберегти</button>
    </div>
  </form>
</div>