<!-- content -->

<style>
    body{
        background-image: url('/public/images/bg/blockhaus.png');
    }
</style>

<div class="content container category bg-style">

    <h4 class="title">
        <a href="#" class="">
            <?=$category['name'];?>
        </a>
        <i class="probel"> | </i>
        <a href="/<?=$category['url'];?>/price" class="">
            Прайс
        </a>
        <?//pr($route);?>
    </h4>
    <div class="articles">
        <? if($articles): ?>
        <? foreach($articles as $item): ?>
        <div class="article">
            <a href="/<?=$route['category'];?>/<?=$item['url'];?>" title="<?=$item['name'];?>">
                <div class="poster"
                     style="background-image: url('<?=URL_ART;?>/<?=$item['poster'];?>')">
                </div>
                <div class="title"><?=$item['name'];?></div>
            </a>
        </div>
        <? endforeach; ?>
        <? endif; ?>
    </div>
</div>
<!-- content end -->

