<!-- content -->
<div class="gallery category content container">

    <h4 class="title">
        <a class="">Галерея</a>
    </h4>

    <div class="photos">

        <? if($images and $images != []) : ?>
        <? foreach($images as $image) : ?>
        <!-- photo -->
        <a href="<?=URL_GALR;?>/<?=$image['img'];?>"
           class="photo js-img-viwer" data-group="view">
            <img class="poster" src="<?=URL_GALR;?>/<?=$image['img'];?>">
        </a><!-- photo end -->
        <? endforeach; ?>
        <? endif; ?>
    </div>
</div>
<!-- content end -->