<!-- content -->

<!-- slider -->
<? require_once 'module/slider.html'; ?>
<!-- slider end -->

<!-- content -->
<div class="content container">

    <h4 class="title">
        <a href="/material" class="">Матеріали <i class="icon-right-open"></i></a>
    </h4>
    <div class="articles">
        <? if($articles): ?>
        <? foreach($articles as $item): ?>
        <? if($item['category'] == 1): ?>
        <div class="article">
            <a href="/<?=$categories['assoc'][$item['category']]['url'];?>/<?=$item['url'];?>" title="<?=$item['name'];?>">
                <div class="poster"
                     style="background-image: url('<?=URL_ART;?>/<?=$item['poster'];?>')">
                </div>
                <div class="title"><?=$item['name'];?></div>
            </a>
        </div>
        <? endif; ?>
        <? endforeach; ?>
        <? endif; ?>
    </div>
</div>
<!-- content end -->

<!-- content -->
<div class="content container" style="background-color: #f2f2f2;background-image: url(/public/images/bg_fon.png)">

    <h4 class="title">
        <a href="/metal" class="">Металопрокат <i class="icon-right-open"></i></a>
    </h4>
    <div class="articles">
        <div class="article big">
            <a href="/metal">
                <div class="poster" style="background-image: url('/public/images/articles/metal/logo.png')"></div>
                <div class="title">Металопрокат</div>
            </a>
        </div>
    </div>
</div>
<!-- content end -->

<!-- about -->
<div class="about container category">
    <!-- title -->
    <h4 class="title">
        <a><?=$about['name'];?></a>
    </h4>
    <!-- title end -->
    <!-- iframe -->
    <?=$about['description'];?>
    <!-- iframe end -->
    <!-- description -->
    <div class="text">
        <?=$about['description_2'];?>
    </div>
    <!-- description end -->
</div>
<!-- about end -->


<!-- gallery -->
<div class="gallery gallery-mini content container">

    <h4 class="title">
        <a href="/gallery" class="">Галерея
            <i class="icon-right-open"></i>
        </a>
    </h4>

    <!-- photos -->
    <div class="photos">
        <? if($gallery and $gallery != []) : ?>
        <? foreach($gallery as $image) : ?>
        <!-- photo -->
        <a href="<?=URL_GALR;?>/<?=$image['img'];?>"
           class="photo js-img-viwer" data-group="view">
            <img class="poster" src="<?=URL_GALR;?>/<?=$image['img'];?>">
        </a><!-- photo end -->
        <? endforeach; ?>
        <? endif; ?>
    </div>
</div>
<!-- gallery end -->


<!-- content end -->

