<!-- content -->

<style>
    body{
        background-image: url('/public/images/bg/blockhaus.png');
    }
</style>

<div class="content container category bg-style">

    <h4 class="title">
        <a href="#" class="">МАТЕРІАЛИ <i class="icon-right-open"></i></a>
    </h4>
    <div class="articles">
        <? if($products): ?>
        <? foreach($products as $item): ?>
        <div class="article">
            <a href="/<?=$route['view'];?>/<?=$item['url'];?>" title="<?=$item['name'];?>">
                <div class="poster" style="background-image: url('/public/images/articles/material/<?=$item['id'];?>.png')"></div>
                <div class="title"><?=$item['name'];?></div>
            </a>
        </div>
        <? endforeach; ?>
        <? endif; ?>
    </div>
</div>
<!-- content end -->

