<!-- prais -->
<div class="view content container" style="margin-top: 65px">

    <div class="base">

        <div class="left">
            <div class="poster">
                <a href="/public/images/articles/material/<?=$route['product'];?>/<?=$product['id'];?>.png" class="js-img-viwer" data-group="view">
                    <img src="/public/images/articles/material/<?=$route['product'];?>/<?=$product['id'];?>.png" alt="">
                </a>
            </div>
            <div class="screens">
                <?=$screens;?>
            </div>
        </div>

        <div class="right">



            <h4 class="name"><?=$logo;?></h4>

            <div class="clear"></div>

            <div class="price"><?=$product['price_4'];?> грн <?=$product['price_3'];?></div>

            <div class="clear"></div>

            <div class="description">
                існує на ринку фасадних матеріалів досить давно. Завдяки таким властивостям металу як повна негорючість і довговічність з одного боку, і досить простий зовнішній вигляд даного сайдинга з іншого, зайняв споживчу нішу матеріалу який використовують для складів, магазинів та інших видів комерційної нерухомісті.
            </div>
        </div>

    </div>

    <div class="clear"></div>

    <div class="articles" style="margin-top: 30px">


        <div class="article">
            <a href="/material/block-house/golden-oak-3d" title="Золотий дуб">
                <div class="poster" style="background-size: 280px;background-image: url('/public/images/articles/material/block-house/1.png')">
                    <div class="price">165.00 грн м/кв</div>
                </div>

                <div class="title">Золотий дуб 3D 0,45</div>
            </a>
        </div>
        <div class="article">
            <a href="/material/block-house/golden-oak" title="Золотий дуб">
                <div class="poster" style="background-size: 280px;background-image: url('/public/images/articles/material/block-house/2.png')">
                    <div class="price">156,00 грн м/кв</div>
                </div>

                <div class="title">Золотий дуб (стандарт) 0,45</div>
            </a>
        </div>
        <div class="article">
            <a href="/material/block-house/dark-oak" title="Темний дуб">
                <div class="poster" style="background-size: 280px;background-image: url('/public/images/articles/material/block-house/5.png')">
                    <div class="price">165.00 грн м/кв</div>
                </div>

                <div class="title">Темний дуб 3D 0,45</div>
            </a>
        </div>
        <div class="article">
            <a href="/material/block-house/linoleum-Oak" title="Дуб ліноліум">
                <div class="poster" style="background-size: 280px;background-image: url('/public/images/articles/material/block-house/7.png')">
                    <div class="price">156,00 грн м/кв</div>
                </div>

                <div class="title">Дуб ліноліум 0,45</div>
            </a>
        </div>
        <div class="article">
            <a href="/material/block-house/bright-oak" title="Світлий дуб">
                <div class="poster" style="background-size: 280px;background-image: url('/public/images/articles/material/block-house/8.png')">
                    <div class="price">156,00 грн м/кв</div>
                </div>

                <div class="title">Світлий дуб 0,45</div>
            </a>
        </div>
    </div>

</div>
<!-- prais -->