<!-- about -->
<div class="about container category">
  <!-- title -->
  <h4 class="title">
    <a><?=$page['name'];?></a>
  </h4>
  <!-- title end -->
  <!-- iframe -->
  <?=$page['description'];?>
  <!-- iframe end -->
  <!-- description -->
  <div class="text">
    <?=$page['description_2'];?>
  </div>
  <!-- description end -->
</div>
<!-- about end -->

<!-- gallery -->
<div class="gallery gallery-mini content container">

  <h4 class="title">
    <a href="/gallery" class="">ГАЛЕРЕЯ
      <i class="icon-right-open"></i>
    </a>
  </h4>

  <!-- photos -->
  <div class="photos">
  </div>
</div>
<!-- gallery end -->

<!-- google map -->

<!-- google map end -->