<!-- prais -->
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        text-align: left;
    }
</style>

<div class="about container category">

    <table style="width:100%">
        <tr>
            <th>Назва Металопрокату</th>
            <th>Ціна за 1т з ПДВ</th>
            <th>Вага 1 м.п</th>
            <th>Ціна за 1 м.п</th>
            <!--<th colspan="4">Ціна за 1 м.п</th>-->
        </tr>
        <tr>
            <th colspan="4">Арматура</th>
        </tr>
        <tr>
            <td>Арматура 8</td>
            <td>19500</td>
            <td>0,43</td>
            <td>8,39</td>
        </tr>
        <tr>
            <td>Арматура 10</td>
            <td>19500</td>
            <td>0,43</td>
            <td>8,39</td>
        </tr>
        <tr>
            <td>Арматура 12</td>
            <td>19500</td>
            <td>0,43</td>
            <td>8,39</td>
        </tr>
    </table>

</div>
<!-- prais -->