<!-- prais -->
<style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
</style>

<div class="about container category">

  <table style="width:50%">
    <tr>
      <th>Назва Металопрокату</th>
      <th>Ціна за 1т з ПДВ</th>
      <th>Вага 1 м.п</th>
      <th>Ціна за 1 м.п</th>
      <!--<th colspan="4">Ціна за 1 м.п</th>-->
    </tr>

    <? foreach($prices as $price) : ?>

    <? //pr1($price)?>

    <tr>
      <th colspan="4"><?=$price['header'];?></th>
    </tr>

    <? foreach($price['price'] as $item) : ?>
        <tr>
          <td><?=$item['name'];?></td>
          <td><?=$item['type'];?></td>
          <td><?=$item['price_1'];?></td>
          <td><?=$item['price_2'];?></td>
        </tr>
    <? endforeach; ?>



    <? endforeach; ?>


  </table>

</div>
<!-- prais -->