<div id="modal-alert" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Підтвердження</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="security form-group text-center">
          <button class="false btn btn-danger" data-dismiss="modal" aria-label="Close">Відмінити</button>
          <button class="true btn btn-success">Підтвердити</button>
        </div>
      </div>

    </div>
  </div>
</div>