<!-- footer -->
<div class="footer container box">

    <!-- tab -->
    <div class="tab">
        <a class="logo" href="/" title="Metallic Plus">
            <!--<span>МП</span> МЕТАЛІК-ПЛЮС-->
            <img src="/public/images/logo.png" alt="">
        </a>
        <p class="descriptino">
            2007 - <?php echo date('Y'); ?> &copy; Приватне Підприємство <br>МЕТАЛІК-PLUS &reg;
        </p>
    </div>
    <!-- tab end -->
    <!-- tab -->
    <div class="tab">
        <span>Навігація</span>
        <ul class="list">
            <? $i = 0; foreach($configs['menu'] as $item): $i++ ?>
            <? if($controller == $item['url']) :?>
            <li><a href="/<?=$item['url'];?>" style="color: #FF6E47;"><?=$item['name'];?></a></li>
            <? else: ?>
            <li><a href="/<?=$item['url'];?>"><?=$item['name'];?></a></li>
            <? endif; ?>
            <? if($i < count($configs['menu']) ) :?>
            <i></i>
            <? endif; ?>
            <? endforeach; ?>
        </ul>
    </div>
    <!-- tab end -->
    <!-- tab info -->
    <div class="tab info">

        <!-- item -->
        <div class="item phone">
            <i class="fas fa-phone-square"></i>
            <h4><?=explode('|',$settings['phone'])[0];?></h4>
            <h4><?=explode('|',$settings['phone'])[1];?></h4>
            <span><?=$settings['mail'];?></span>
        </div>
        <!-- item end -->

        <!-- item -->
        <div class="item home">
            <i class="fas fa-home"></i> <!-- fab fa-font-awesome-alt -->
            <h4><?=explode('|',$settings['home'])[0];?></h4>
            <span><?=explode('|',$settings['home'])[1];?></span>
        </div>
        <!-- item end -->

        <!-- item -->
        <div class="item clock">
            <i class="fas fa-clock"></i> <!-- far fa-clock -->
            <h4><?=explode('|',$settings['work'])[0];?></h4>
            <h4><?=explode('|',$settings['work'])[1];?></h4>
            <span><?=explode('|',$settings['work'])[2];?></span>
        </div>
        <!-- info end -->


    </div>
    <!-- tab info end -->
</div>
<!-- footer end -->