<!-- head container -->
<div class="head container">
    <a class="logo" href="/" title="Metallic Plus">
        <!--<span>МП</span> МЕТАЛІК-ПЛЮС-->
        <img src="/public/images/logo.png" alt="">
    </a>
    <!-- info -->
    <div class="info">
        <!-- item -->
        <div class="item clock">
            <i class="fas fa-clock"></i> <!-- far fa-clock -->
            <h4><?=$configs['about']['work'];?></h4>
            <span><?=$configs['about']['outgoing'];?></span>
        </div>
        <!-- info end -->
        <!-- item -->
        <div class="item home">
            <i class="fas fa-home"></i> <!-- fab fa-font-awesome-alt -->
            <h4><?=$configs['about']['street'];?></h4>
            <span><?=$configs['about']['sity'];?></span>
        </div>
        <!-- item end -->
        <!-- item -->
        <div class="item mobile">
            <i class="fas fa-mobile-alt"></i>
            <h4><?=$configs['about']['phone1'];?></h4>
            <span><?=$configs['about']['email'];?></span>
        </div>
        <!-- item end -->
    </div>
    <!-- info end -->
</div>
<!-- head container end -->