<!-- head container -->
<div class="head container">
    <a class="logo" href="/" title="Metallic Plus">
        <!--<span>МП</span> МЕТАЛІК-ПЛЮС-->
        <img src="/public/images/logo.png" alt="">
    </a>
    <!-- info -->
    <div class="info">
        <!-- item -->
        <div class="item clock">
            <i class="fas fa-clock"></i> <!-- far fa-clock -->
            <h4><?=explode('|',$settings['work'])[0];?></h4>
            <span><?=explode('|',$settings['work'])[1];?></span>
        </div>
        <!-- info end -->
        <!-- item -->
        <div class="item home">
            <i class="fas fa-home"></i> <!-- fab fa-font-awesome-alt -->
            <h4><?=explode('|',$settings['home'])[0];?></h4>
            <span><?=explode('|',$settings['home'])[1];?></span>
        </div>
        <!-- item end -->
        <!-- item -->
        <div class="item mobile">
            <i class="fas fa-mobile-alt"></i>
            <h4><?=explode('|',$settings['phone'])[0];?></h4>
            <span><?=$settings['mail'];?></span>
        </div>
        <!-- item end -->
    </div>
    <!-- info end -->
</div>
<!-- head container end -->