<!-- sidebar -->
<div class="sidebar">

  <!-- user panel -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="/public/admin/images/admin.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info w-100 float-left">
      <? if(isset($_SESSION['admin']['auth'])) : ?>
<!--      <span class="text-white">Вітаю!</span>-->
      <a href="#" class="d-block">
        <h4 class="font-weight-bold"><?=$_SESSION['admin']['auth']['login'];?></h4>
      </a>
      <? endif; ?>
    </div>
    <div class="float-right">
      <a href="/admin/logout" class="btn btn-danger">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
  <!--./ user panel -->

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <!-- nav-pills -->
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

      <!-- category -->
      <li class="nav-item">
        <a href="/admin/category" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Категорії
            <span class="badge badge-info right">6</span>
          </p>
        </a>
      </li>
      <!--./ category -->

      <!-- article -->
      <li class="nav-item has-treeview menu-open">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>
            Товари
            <i class="fas fa-angle-left right"></i>
            <span class="right badge badge-danger">New</span>
          </p>
        </a>
        <!-- nav -->
        <ul class="nav nav-treeview">
          <? foreach($categories as $category) : ?>

          <? if( isset($route['cat']) and $category['id'] == $route['cat']) : ?>
          <li class="nav-item">
            <a href="/admin/articles/<?=$category['id']?>" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p><?=$category['name']?></p>
            </a>
          </li>
          <? else: ?>
          <li class="nav-item">
            <a href="/admin/articles/<?=$category['id']?>" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p><?=$category['name']?></p>
            </a>
          </li>
          <? endif; ?>

          <? endforeach; ?>
        </ul>
        <!--./ nav -->
      </li>
      <!--./ article -->

      <!-- page -->
      <li class="nav-item">
        <a href="/admin/page" class="nav-link">
          <i class="nav-icon fas fa-book"></i>
          <p>
            Сторінки
            <span class="badge badge-info right">6</span>
          </p>
        </a>
      </li>
      <!--./ page -->

      <!-- price -->
      <li class="nav-item has-treeview menu-open">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-receipt"></i>
          <p>
            Прайс Лист
            <i class="fas fa-angle-left right"></i>
            <span class="right badge badge-danger">31.03.20</span>
          </p>
        </a>
        <!-- nav -->
        <ul class="nav nav-treeview">
          <? foreach($categories as $category) : ?>

          <? if( isset($route['category']) and $category['id'] == $route['category']) : ?>
          <li class="nav-item">
            <a href="/admin/price/<?=$category['id']?>" class="nav-link active">
              <i class="far fa-circle nav-icon"></i>
              <p><?=$category['name']?></p>
            </a>
          </li>
          <? else: ?>
          <li class="nav-item">
            <a href="/admin/price/<?=$category['id']?>" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p><?=$category['name']?></p>
            </a>
          </li>
          <? endif; ?>

          <? endforeach; ?>
        </ul>
        <!--./ nav -->
      </li>
      <!--./ price -->

      <!-- Widgets -->
      <li class="nav-item">
        <a href="/admin/widgets" class="nav-link">
          <i class="nav-icon fas fa-th"></i>
          <p>
            Widgets
            <span class="right badge badge-danger">New</span>
          </p>
        </a>
      </li>
      <!--./ Widgets -->

      <!-- Gallery -->
      <li class="nav-item">
        <a href="pages/gallery.html" class="nav-link">
          <i class="nav-icon far fa-image"></i>
          <p>
            Gallery
          </p>
        </a>
      </li>
      <!--./ Gallery -->

      <!-- Mailbox -->
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
          <i class="nav-icon far fa-envelope"></i>
          <p>
            Mailbox
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <!-- nav -->
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="pages/mailbox/mailbox.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Inbox</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/mailbox/compose.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Compose</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="pages/mailbox/read-mail.html" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Read</p>
            </a>
          </li>
        </ul>
        <!--./ nav -->
      </li>
      <!--./ Mailbox -->

    </ul>
    <!--./ nav-pills -->
  </nav>
  <!-- /.sidebar-menu -->
</div>
<!--./ sidebar -->